body {
  background-image: url(../public/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding-left: 570px; /* Add some padding to the left of the h1 */
  padding-right: 570px; /* Add some padding to the right of the h1 */
}

.icon-mode {
  margin-left: 20px; /* Add margin to the left of the icon to space it out */
}




button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: green;
}

.add-button:hover {
  background-color: rgb(24, 197, 24);
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: orangered;
}

.move-button {
  background-color: blue;
}

.move-button:hover {
  background-color: blueviolet;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px
}

ol {
  padding-left: 20%;
  padding-right: 20%;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsla(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}