#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 18px;
  font-family: 'Josefin Sans';
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

}
.list-todos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  border: dotted;
  font-weight: 400;
}
.todo-element{
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}
.list-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.text-input{
  margin-left: 25%;
  position: relative;
  width: 50%;
  border-radius: 5px;
}
.filter-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}